header {
  margin-top: 120px;
  height: 400px;
  width:100%;
  background-color: #db9d00;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");

}
header .profile{
  display: flex;
  justify-content: center; 
  align-items: center;
}
header .name{
  display: flex;
  justify-content: center; 
  align-items: center;
  color:  #FFFF;

}

header .name_bold{
  font-weight:bolder;
} 
