main .new-tweet {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-weight: bold;
  width: 100%;
}
.newTweetForm {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  width: 100%;
}
.form_text{
  border: none;
  border-bottom: 2px solid;
  background-color: #f4f1ec;
}
.form_footer{
  font-family: 'Bungee', sans-serif;
}
.counter{
  float: right;
  padding-top: 1em;
}
.negative{
  color: red;
}
.form_button{
  background-color: #4056A1;
  color:  #FFFF; 
  margin-top: 1em;
}
.all-tweets{
  margin-top: 3em;
  margin-bottom: 3em;
}

article.tweet{
  background-color: #f4f1ec;
  border: 2px solid;
  padding: 1em 1em 1em 1em;  
}
article.tweet header{
  margin-top: 0px;
  background-color: #f4f1ec;
  height : 100px;

}



article.tweet .tweeter-handle{
  color: rgb(194, 191, 191);
  /* display: none; */
  float: right;

}

article.tweet .tweet-content{
  border-bottom: 2px solid;
  padding-left: .5em;
  padding-bottom: 2em; 

}
article.tweet footer{
  font-size: 20px;
}
article.tweet footer a{
  color:blue;
  float: right; 
  padding-right: 2em;
}

article.tweet footer a .fa:hover{
  color:#db9d00;
}

.all-tweets:hover{
  /* font-weight: bold; */
  box-shadow: 5px 10px #929191;


}
.all-tweets:hover .tweeter-handle{
  /* display:block; */
  color: gray;

}