main .new-tweet {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-weight: bold;
  width: 100%;
}
.newTweetForm {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  width: 100%;
}
.form_text{
  border: none;
  border-bottom: 2px solid;
  background-color: #f4f1ec;
}
.form_footer{
  font-family: 'Bungee', cursive, sans-serif;
}
.counter{
  float: right;
  padding-top: 1em;
}
.form_button{
  background-color: #4056A1;
  color:  #FFFF; 
  margin-top: 1em;
}